
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <title>Перевод Транслитерации</title>
</head>

<body>
    <header>
        <br/>
        <h1>TRANSLATION TRANSLITERATION</h1><img src="~/images/cogwheel.png" id="cogwheels" alt="settings" />
        <hr align="left" width="55%" />
        <hr align="left" width="65%" />
    </header>

    <main>
        <div class="parent">
            <div class="left-block">
                <h1>OriginaL</h1>
                <textarea id="originalText" autofocus></textarea>
                <button id="loadSavedText">Saved Texts</button>
                <button id="chooseTranslitSystem">Choose Transliteration System</button>
                <button id="applyTranslitSystem">Apply</button>
                <button id="clearOriginalText">Clear</button>
                <button id="saveSourceText">Save Text</button>
                <br/>
                <p class="displayInfo"></p>
            </div>
            <div class="right-block">
                <h1>Translated</h1>
                <textarea id="translatedText"></textarea>
                <div class="right-block-options">
                    <div class="current-system">
                        <p>Current System: <span class="displaySystemInfo"></span></p>
                    </div>
                    <div class="right-block-button">
                        <button id="saveTranslatedText">Save as</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="pop-up-settings">
            <h4>Theme</h4>
            <hr/>
            <p>
                <span id="darkTheme">:::::::: Dark :::::::: </span>|
                <span id="lightTheme"> :::::::: Light :::::::: </span>
            </p>
            <h4>Language</h4>
            <hr />
            <p>::::: English ::::: | ::::: Russian :::::</p>
        </div>
        <div class="pop-up-saveSourceText">
            <div class="pop-up-cancel"><span>Cancel</span></div>
            <h2>Save Source Text</h2>
            <input type="text" id="inputSourceTextName" placeholder="Save as..." required maxlength="50" /><br/>
            <hr/>
            <textarea placeholder="Description" id="inputSourceTextDescription" maxlength="200" ></textarea><br/>
            <button id="saveSourceTextInDb">Save</button>
        </div>

        <div class="nap"></div>

        <div class="pop-up-sourceList">
            <table>
                <thead>
                    <tr>
                        <th class="table-th-textName">Text Name</th>
                        <th class="table-th-textDescription">Summary</th>
                        <th class="table-th-saveDate">Save Date</th>
                    </tr>
                </thead>
                <tbody id="sourceList-table-body"></tbody>
            </table>
            <div class="limit-counter">
                <h2>Current Limit for Save</h2>
                <h1 title="Places to save"></h1>
            </div>
        </div>

        <div class="pop-up-translitSystemList">
            <img src="~/images/addNewSystem.png" alt="addNewSystem" title="Create a new Transliteration System" />
            <h2>Available Transliteration Systems</h2>
            <hr />
            <table>
                <tbody id="translitSystem-table-body"></tbody>
            </table>
        </div>

        <div class="pop-up-creatingNewSystem">
            <h2>Setting new Transliteration System</h2>
            <hr />
            <p>* To save a special character, use the hexadecimal code of this character: \u<span>0000</span></p>
            <br />
            <table>
                <tr>
                    <td class="td-addChar">
                        <p>А: <input type="text" class="addChar" maxlength="7" /></p>
                        <p>а: <input type="text" class="addChar" maxlength="7" /></p>
                    </td>
                    <td class="td-addChar">
                        <p>Б: <input type="text" class="addChar" maxlength="7" /></p>
                        <p>б: <input type="text" class="addChar" maxlength="7" /></p>
                    </td>
                    <td class="td-addChar">
                        <p>В: <input type="text" class="addChar" maxlength="7" /></p>
                        <p>в: <input type="text" class="addChar" maxlength="7" /></p>
                    </td>
                    <td class="td-addChar">
                        <p>Г: <input type="text" class="addChar" maxlength="7" /></p>
                        <p>г: <input type="text" class="addChar" maxlength="7" /></p>
                    </td>
                    <td class="td-addChar">
                        <p>Д: <input type="text" class="addChar" maxlength="7" /></p>
                        <p>д: <input type="text" class="addChar" maxlength="7" /></p>
                    </td>
                    <td class="td-addChar">
                        <p>Е: <input type="text" class="addChar" maxlength="7" /></p>
                        <p>е: <input type="text" class="addChar" maxlength="7" /></p>
                    </td>
                    <td class="td-addChar">
                        <p>Ё: <input type="text" class="addChar" maxlength="7" /></p>
                        <p>ё: <input type="text" class="addChar" maxlength="7" /></p>
                    </td>
                </tr>
                <tr>
                    <td class="td-addChar">
                        <p>Ж: <input type="text" class="addChar" maxlength="7" /></p>
                        <p>ж: <input type="text" class="addChar" maxlength="7" /></p>
                    </td>
                    <td class="td-addChar">
                        <p>З: <input type="text" class="addChar" maxlength="7" /></p>
                        <p>з: <input type="text" class="addChar" maxlength="7" /></p>
                    </td>
                    <td class="td-addChar">
                        <p>И: <input type="text" class="addChar" maxlength="7" /></p>
                        <p>и: <input type="text" class="addChar" maxlength="7" /></p>
                    </td>
                    <td class="td-addChar">
                        <p>Й: <input type="text" class="addChar" maxlength="7" /></p>
                        <p>й: <input type="text" class="addChar" maxlength="7" /></p>
                    </td>
                    <td class="td-addChar">
                        <p>К: <input type="text" class="addChar" maxlength="7" /></p>
                        <p>к: <input type="text" class="addChar" maxlength="7" /></p>
                    </td>
                    <td class="td-addChar">
                        <p>Л: <input type="text" class="addChar" maxlength="7" /></p>
                        <p>л: <input type="text" class="addChar" maxlength="7" /></p>
                    </td>
                    <td class="td-addChar">
                        <p>М: <input type="text" class="addChar" maxlength="7" /></p>
                        <p>м: <input type="text" class="addChar" maxlength="7" /></p>
                    </td>
                </tr>
                <tr>
                    <td class="td-addChar">
                        <p>Н: <input type="text" class="addChar" maxlength="7" /></p>
                        <p>н: <input type="text" class="addChar" maxlength="7" /></p>
                    </td>
                    <td class="td-addChar">
                        <p>О: <input type="text" class="addChar" maxlength="7" /></p>
                        <p>о: <input type="text" class="addChar" maxlength="7" /></p>
                    </td>
                    <td class="td-addChar">
                        <p>П: <input type="text" class="addChar" maxlength="7" /></p>
                        <p>п: <input type="text" class="addChar" maxlength="7" /></p>
                    </td>
                    <td class="td-addChar">
                        <p>Р: <input type="text" class="addChar" maxlength="7" /></p>
                        <p>р: <input type="text" class="addChar" maxlength="7" /></p>
                    </td>
                    <td class="td-addChar">
                        <p>С: <input type="text" class="addChar" maxlength="7" /></p>
                        <p>с: <input type="text" class="addChar" maxlength="7" /></p>
                    </td>
                    <td class="td-addChar">
                        <p>Т: <input type="text" class="addChar" maxlength="7" /></p>
                        <p>т: <input type="text" class="addChar" maxlength="7" /></p>
                    </td>
                    <td class="td-addChar">
                        <p>У: <input type="text" class="addChar" maxlength="7" /></p>
                        <p>у: <input type="text" class="addChar" maxlength="7" /></p>
                    </td>
                </tr>
                <tr>
                    <td class="td-addChar">
                        <p>Ф: <input type="text" class="addChar" maxlength="7" /></p>
                        <p>ф: <input type="text" class="addChar" maxlength="7" /></p>
                    </td>
                    <td class="td-addChar">
                        <p>Х: <input type="text" class="addChar" maxlength="7" /></p>
                        <p>х: <input type="text" class="addChar" maxlength="7" /></p>
                    </td>
                    <td class="td-addChar">
                        <p>Ц: <input type="text" class="addChar" maxlength="7" /></p>
                        <p>ц: <input type="text" class="addChar" maxlength="7" /></p>
                    </td>
                    <td class="td-addChar">
                        <p>Ч: <input type="text" class="addChar" maxlength="7" /></p>
                        <p>ч: <input type="text" class="addChar" maxlength="7" /></p>
                    </td>
                    <td class="td-addChar">
                        <p>Ш: <input type="text" class="addChar" maxlength="7" /></p>
                        <p>ш: <input type="text" class="addChar" maxlength="7" /></p>
                    </td>
                    <td class="td-addChar">
                        <p>Щ: <input type="text" class="addChar" maxlength="7" /></p>
                        <p>щ: <input type="text" class="addChar" maxlength="7" /></p>
                    </td>
                    <td class="td-addChar">
                        <p>Ы: <input type="text" class="addChar" maxlength="7" /></p>
                        <p>ы: <input type="text" class="addChar" maxlength="7" /></p>

                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="td-addChar">
                        <p>ъ: <input type="text" class="addChar" maxlength="7" /></p>
                    </td>
                    <td colspan="2" class="td-addChar">
                        <p>ь: <input type="text" class="addChar" maxlength="7" /></p>
                    </td>
                    <td class="td-addChar">
                        <p>Э: <input type="text" class="addChar" maxlength="7" /></p>
                        <p>э: <input type="text" class="addChar" maxlength="7" /></p>
                    </td>
                    <td class="td-addChar">
                        <p>Ю: <input type="text" class="addChar" maxlength="7" /></p>
                        <p>ю: <input type="text" class="addChar" maxlength="7" /></p>
                    </td>
                    <td class="td-addChar">
                        <p>Я: <input type="text" class="addChar" maxlength="7" /></p>
                        <p>я: <input type="text" class="addChar" maxlength="7" /></p>
                    </td>
                </tr>
            </table>
            <br />
            <p>
                :::::::::::::::::::::::::::::::::::::::::::::::
                <input type="text" id="newSystemName" placeholder="Enter name for new system" required maxlength="50"/>
                :::::::::::::::::::::::::::::::::::::::::::::::
            </p>
            <br />
            <button id="createNewSystemCancel">Cancel</button>
            <button id="createNewSystemReset">Reset</button>
            <button id="createNewSystemSave">Save</button>
            <br />
            <p id="systemSaveError"></p>
        </div>

        <div class="pop-up-question">
            <h3>Delete it?</h3>
            <button id="yes">Yes</button>
            <button id="no">No</button>
        </div>

        <div class="pop-up-saveTranslatedText">
            <div class="pop-up-cancel"><span>Cancel</span></div>
            <h2>Save Translated Text</h2>
            <input type="text" id="inputTranslatedTextName" placeholder="Save as..." maxlength="50" /><br />
            <hr />
            <h3>
                <span class="leftSpan" title="Save as TXT file">::::::: TXT ::::::: </span>|
                <span class="rightSpan" title="Save as PDF file"> ::::::: PDF :::::::</span>
            </h3>
            <button id="saveToFile">Save</button>
            <p id="textNameError"></p>
        </div>

        <div class="nap-for-confirm"></div>
        <div class="nap-for-creatingSystem"></div>
    </main>

    <footer>
        <hr align="right" width="65%" />
        <hr align="right" width="55%" />
        <p> <span title="code.drummer87@gmail.com">Andrei Bodrov</span> <img src="~/images/star87.png" id="star" alt="star87" /> Omsk-2020</p>
    </footer>

    <script src="~/js/main.js"></script>
    <script src="~/js/leftBlock.js"></script>
    <script src="~/js/intermediary.js"></script>
    <script src="~/js/rightBlock.js"></script>
</body>
</html>
