html, body {
    font-family: 'Exo 2', sans-serif;
    padding: 0px;
    margin: 0px;
    width: 100%;
    background-color: #000000;
    color: #FFA900;
    text-align: center;
}

h1, p {
    margin: 2px;
}
header {
    padding: 0px 30px 0px 12px;
}

header > p {
    text-align: right;  
}

.parent {
    margin: 0 auto;
    padding: 0px 5px;
    background-color: #ffffff;
}

hr {
    padding: 0;
    height: 1px;
    border: none;
    outline: none;
    background-color: #ffa900;
}

.left-block, .right-block {
    width: 49.5%;
    height: 600px;
    float: left;
    margin: 0 auto;
    font-size: 0.9rem;
}

.left-block {
    border-right: 1px solid #ffa900;
}

#originalText, #translatedText {
    width: 96%;
    height: 80%;
    background-color: #282626;
    border: none;
    border-radius: 2%;
    outline: none;
    color: #ffa900;
    font-size: 1.3rem;
}

textarea {
    padding: 10px 10px;
}

select, button {
    margin: 4px 0;
    height: 1.5rem;
    border-radius: 2px;
    background-color: #ffa900;
    color: #000000;
    outline: none;
    border: none;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.1rem;
}

select:hover, button:hover {
    box-shadow: 0px 0px 7px 3px #FFC873;
    background-color:  #FFC873;
    color: #d00019;
}

button {
    width: 7rem;
}

select {
    width: 20rem;
}

.right-block-options {
    width: 98%;
    font-size: 1.1rem;
}

.current-system {
    width: 65%;
    float: left;
    text-align: left;
    padding-left: 5px;
}

span {
    color: #46ff04;
}

img {
    width: 1%;
    height: 1%;
}

footer {
    text-align: right;
    padding: 0px 30px 0px 0px;
}