html, body {
    font-family: 'Exo 2', sans-serif;
    padding: 0px;
    margin: 0px;
    width: 100%;
    background-color: #000000;
    color: #FFA900;
    text-align: center;
}

h1, p {
    margin: 2px;
}

header {
    padding: 0px 30px 0px 12px;
}

header > p {
    text-align: right;
}

button > title {
    background-color: #FFC873;
    border-radius: 0.8%;
}

.parent {
    margin: 0 auto;
    padding: 0px 5px;
    background-color: #ffffff;
}

hr {
    padding: 0;
    height: 1px;
    border: none;
    outline: none;
    background-color: #ffa900;
}

.left-block,
.right-block {
    width: 49.5%;
    height: 600px;
    float: left;
    margin: 0 auto;
    font-size: 0.9rem;
}

.left-block {
    border-right: 1px solid #ffa900;
}

#originalText, 
#translatedText {
    width: 96%;
    height: 80%;
    background-color: #282626;
    border: none;
    border-radius: 2%;
    outline: none;
    color: #FFA900;
    font-size: 1.3rem;
}

textarea {
    padding: 10px 10px;
}

button {
    margin: 4px 0;
    height: 1.5rem;
    border-radius: 2px;
    background-color: #ffa900;
    color: #000000;
    outline: none;
    border: none;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.1rem;
}

button:hover {
    box-shadow: 0px 0px 7px 3px #FFC873;
    background-color:  #FFC873;
    color: #d00019;
}

button {
    width: 7rem;
}

button:active {
    box-shadow: 0px 0px 0px 60px rgba(0,0,0,.05) inset;
    background-color: #624306;
    color: #FFC873;
}

#chooseTranslitSystem {
    width: 17rem;
}

.displayInfo {
    text-align: left;
    padding-left: 5.5%;
    font-size: 1.1rem;
}

.right-block-options {
    width: 98%;
    font-size: 1.1rem;
}

.current-system {
    width: 65%;
    float: left;
    text-align: left;
    padding-left: 5px;
}

span {
    color: #46ff04;
}

.nap,
.nap-for-confirm,
.nap-for-creatingSystem {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    overflow: auto;
    display: none;
}

.nap-for-confirm {
    z-index: 175;
}

.nap-for-creatingSystem {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 185;
}

.pop-up-saveSourceText,
.pop-up-question {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    border: 3px inset #FFA900;
    border-radius: 5%;
    z-index: 150;
    transition: all 0.5s ease-in;
    box-shadow: 0px 0px 7px 3px #FFC873;
    display: none;
}

.pop-up-saveSourceText {
    width: 450px;
    height: 300px;
    margin: 150px auto 0 auto;
}

.pop-up-cancel {
    padding: 12px 15px;
    text-align: right;
}

.pop-up-cancel > span:hover {
    color:  #D00019;
}

.pop-up-saveSourceText > input,
.pop-up-saveSourceText > textarea {
    width: 85%;
    background-color: #FFC873;
    outline: none;
    border: none;
    border-radius: 2%;
    padding: 5px 7px;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
}

.pop-up-saveSourceText > textarea {
    height: 70px;
}

.pop-up-saveSourceText > hr {
    width: 75%;
}

.pop-up-sourceList,
.pop-up-translitSystemList,
.pop-up-creatingNewSystem {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 100px 0px 0px 0px;
    z-index: 150;
    transition: all 0.5s ease-in;
    width: 97%;
    display: none;
    font-size: 1.1rem;
}

.pop-up-creatingNewSystem {
    z-index: 200;
}

.pop-up-creatingNewSystem > table {
    margin: auto;
}

.td-addChar {
    border: 2px solid orange;
    border-radius: 7%;
}

.addChar,
#newSystemName {
    width: 5rem;
    background-color: #fcd395;
    border-radius: 5%;
    font-size: 1.2rem;
    border: none;
    outline: none;
    text-align: center;
}

#newSystemName {
    width: 25rem;
}

.pop-up-sourceList {
    text-align: left;
}

.pop-up-translitSystemList > hr,
.pop-up-creatingNewSystem > hr {
    width: 75%;
    position: center;
}
.pop-up-translitSystemList > img {
    position: fixed;
    width: 3%;
    height: 6.5%;
    margin-left: -40%;
}

.pop-up-translitSystemList > table {
    width: 100%;
    margin: auto;
    color: #5BBD10;
}

.table-td-translitSystem {
    width: 20%;
    padding: 0.3rem 0;
    margin: 0;
}

.pop-up-question {
    width: 200px;
    height: 80px;
    margin: 200px auto 0 auto;
    border-radius: 50%;
    z-index: 200;
}

.pop-up-question > h3,
.pop-up-question > button {
    margin: 5px 0px;
}

.pop-up-question > button {
    width: 30%;
}

.pop-up-sourceList > table {
    width: 70%;
    margin-left: 3%;
    float: left;
}

#sourceList-table-body > tr:hover,
.table-td-translitSystem:hover {
    color: #15D5DD;
}

th {
    color: #20F8F0;
    border-bottom: 1px solid #15D5DD;
}

.table-th-textName {
    width: 30%;
}

.table-th-textDescription {
    width: 55%;
}

.limit-counter {
    position: relative;
    width: 27%;
    float: right;
    text-align: center;
    color: #15D5DD;
}

.limit-counter > h1 {
    font-size: 4.5rem;
    font-family: Consolas;
    font-weight: 100;
}

#errorNameMessage {
    font-size: 1.3rem;
}

img {
    width: 1%;
    height: 1%;
}

footer {
    text-align: right;
    padding: 0px 30px 0px 0px;
}